@CHARSET "UTF-8";

/*choitabiについて---------------*/

img{
	width:100%;
	height:350px;
}

/*div_class="main"部分-----------*/
.midasi{
	position:absolute;
    top:100px;
    text-align:center;
	color:#ffffff;
    width:100%;
    height:100px;
}

h1{
	font-size:60px;
}

.midasi2{
	        text-align:center;
}
/*フッター部分-----------------------*/
footer{
	margin-top:500px;
}