@CHARSET "UTF-8";


.body{
padding-top:0;
}
/*choitabiについて---------------*/
h1{
    font-family:"メイリオ";

    width:100%;
}

/*div_class="main"部分-----------*/
.main{
	position:absolute;
	text-align:center;
	top:200px;
    width:100%;
    color:black;
}

/*フッター部分-----------------------*/
footer{
	margin-top:700px;
}