@CHARSET "UTF-8";


.body{
	 
}
/*choitabiについて---------------*/
h1{
    font-family:"メイリオ";

    width:100%;
}

/*div_class="main"部分-----------*/
.main{
	margin-top:90px;
	margin-left:600px;
    width:100%;
    color:black;
}

/*フッター部分-----------------------*/
footer{
	margin-top:90px;
}