@CHARSET "UTF-8";

/*サイドバー--------------------------*/
.sidebar{
    float:left;
    margin-top:200px;
	margin-left:80px;
	margin-right:40px;
    padding-top:20px;
    padding-left:30px;
    height:400px;
    width:200px;
}

/*商品一覧-----------------*/
.main{
    position:absolute;
    left:25%;
    margin-top:10%;
    height:100%;
    width:1170px;
}

.sub{
    float:left;
    position:relative;
    height:260px;
    width:200px;
    margin:6%;
    }

input{
    height:200px;
    width:200px;
}

.name{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.price{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

/*フッター----------------*/
footer{
	margin-top:1400px;
}
