@CHARSET "UTF-8";

/*サイドバー--------------------------*/
.sidebar{
    float:left;
    margin-top:200px;
	margin-left:30px;
	margin-right:40px;
    padding-top:20px;
    padding-left:30px;
    height:400px;
    width:200px;
}

/*商品一覧-----------------*/
.main{
    margin-left:300px;
    margin-top:300px;
    width:1170px;
}

.sub{
    float:left;
    position:relative;
    height:260px;
    width:200px;
    margin:6%;
    }

img{
    height:200px;
    width:200px;
}

.name{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.price{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

