@CHARSET "UTF-8";

header{
	positon:absolute;
}

.clear{
	clear:both;
}

html {
  min-height: 100%;
  position: relative;
}

body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-bottom: 1em;
}

.title{
  position: absolute;
  top:0;
  left:0px;
  z-index: 1;
  width: 100%;
  background-color:rgba(225,225,225,0.6);
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-right{
  position: absolute;
  top:65px;
  right: 10px;
  z-index: 1;
  font-size: 18px;
}
article{
	margin-top:10%;
	margin-right:auto;
	margn-left:auto;
	text-align:center;
	position:relative;
}

table {
  border-collapse: collapse;
  width:50%;
  text-align:center;
  positon:absolute;
	margin: auto;
}

table th{
	background-color:#000;
	color:#FFF;
	text-align:center;
}

table tr{
	margin-top:70px;
}

.form1 {
    text-align: center;
    width:40%;
     positon:absolute;
	margin: 50px auto;
}
.form1 form {
    display: inline-block;
    margin: 0 10px;
}


footer{
	position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    height: 1em;
}


.info{
	font-size: 20px;
}

.plan{
	float:center;
}

ul{
	list-style:none;
}