@CHARSET "UTF-8";

body{
    text-align:center;
    background-color:snow;
    font-family:メイリオ;
    white-space: nowrap;
}

.end{
	margin-top:20px;
    font-size:40px;
    font-weight:100;
    text-align:center;
}

table{
    width: 900px;
    margin-top:30px;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
}

.total {
    float:left;
    margin-top:30px;
    margin-left:1000px;
    font-size: 30px;
}

kaikei {
    float:right;
    margin-top:40px;
    margin-right:100px;
}