@CHARSET "UTF-8";
body{
     padding-top: 60px;
     text-align: center;

}

.header{
        top:0px;
    right:0px;
    left:0px;
    height:60px;
    width:100%;
    font-size:24px;
    text-align:left;
    background-color:orange;
}

.headerLogo{
    float:left;
    margin-left:30px;
    font-size:40px;
    line-height:64px;
    color:white;
}

.headerMenu{
    margin-right:40px;
    float:left;
    color:white;
    font-size:18px;
    line-height:72px;
}

.catchPhrase{
    margin-top:50px;
    height:70px;
    font-size:24px;
    color:black;
    text-align:center;
    line-height: :240px;
    background-color: orange;
}


h2{
    position: relative;
    margin-top: 0 auto;
}

table{
      margin: 0 auto;

}





h3{
   margin-top: 80px

}


.headerMenuBox{
    margin-top:12px;
    margin-left:1000px;
}

.footer{
    bottom:0;
    height:50px;
    width:100%;
    float:left;
    background-color:orange;
    color:white;
    text-align:center;
    font-size:12px;
    line-height:50px;
}



.ARRLogo{
    float:left;
    margin-left:740px;
    line-height:54px;
    color:white;
}



.footerMenuBox{
    margin-left:1200px;
    margin-right:40px;

}



.footerMenu{
    float:left;
    margin-left:40px;
    color:white;
    font-size:16px;
}