h1{
    font-family:"ƒƒCƒŠƒI";

    width:100%;
}

.main{
    width:100%;
    color:black;
    text-align:center;
}

.link{
    position:absolute;
    bottom:10px;
    text-align:center;
    font-size:15px;

}