h1{
    margin-left:650px;
    margin-top: 50px;}

table{
    margin-left:690px;
    margin-top: 50px;

}

tr{
    padding-left:100px;
}

footer{
    margin-left:750px;
    margin-top: 50px;

}
