@CHARSET "UTF-8";
/*会社概要-----------*/
h1{
	margin-top:90px;
	margin-left:720px;
}

/*会社概要詳細---------------*/
table{
	margin-left:470px;
}

th{
	width:100px;
	background-color:#dcdcdc;
	text-align:left;
}

td{
	width:500px;
	background-color:#f5f5f5;
}

/*フッター---------*/
footer{
	margin-top:90px;
}