/*莨夂､ｾ讎りｦ�驛ｨ蛻�-----------*/
h1{
	margin-top:90px;
	margin-left:720px;
}

/*莨夂､ｾ讎りｦ∬ｩｳ邏ｰ驛ｨ蛻�---------------*/
table{
	margin-left:470px;
}

th{
	width:100px;
	background-color:#dcdcdc;
	text-align:left;
}

td{
	width:500px;
	background-color:#f5f5f5;
}

/*繝輔ャ繧ｿ繝ｼ驛ｨ蛻�---------*/
footer{
	margin-top:90px;
}