@CHARSET "UTF-8";


.error{
	color:red;
	text-align:center;
}

.header{
	width:100%;
}

body{
    color:dimgrey;
    font-family:メイリオ;
    color:dimgray;
}


h1{
    text-align:center;
}

.direction{
    text-align:center;
    margin-top:20px;
}

#box th {
position:relative;
text-align:center; }



table{
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    border:2px solid grey;
    width:550px;
    height:320px;
    border-spacing:0px;
    font-size:14px;
    text-align:center;
}

th{
    width:250px;
    border:1px solid grey;
    margin: 0px auto;
    text-align:center;
}

td{
    border:1px solid grey;
    padding-left:10px;
    padding-right:10px;
    width:300px;
    text-align:center;
    margin: 0px auto;
}

.button1{
    margin-top:40px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    width:80px;
    border:2px solid dimgrey;
    background-color:beige;
}

.button2{
    margin-top:40px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    font-size:14px;
    width:140px;
    border:2px solid dimgrey;
        background-color:gainsboro;
}
footer {
	position: relative;
	padding-top: 20px;
	bottom: 0;
	background-color:white;
}

.contactLink{
	text-align:center;
}

