@charset "UTF-8";



.error{
	color:red;
}




td{
	text-align:left;

}
th{
	text-align:center;
}

.link{
	margin-top:20px;
	margin-left:800px;
}

form{
	margin-left:550px;
}

h1{
position: relative;

}