@charset "UTF-8";



.error{
	color:red;
}




td{
	text-align:left;

}
th{
	text-align:center;
}

.link{
	margin-top:20px;
	margin-left:800px;
}

form{
	margin-left:550px;
}

.under{
  position: relative;
  	padding: 0.3em;
  }
.under:after {
  content: '';
  position: absolute;
  left: 0;
    bottom: 0;
  width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, #DAA520, #DAA520 2px, white 2px, white 4px);
  }

  footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:white;
}