@CHARSET "UTF-8";


.footer{
text-align:center;
height: 80px;
clear:left;
width:100%;

}

.link a:link{
	color:#ffffff;
}
.link a:visited{
	color:#ffffff;
}

.link a:hover{
	color:#ffffff;
}

.link a:active{
	color:#ffffff;
}
