@CHARSET "UTF-8";


.header{
	background: orange;
	height: 125px;
	position : relative ;
	margin:0;
	width:100%;
}


.headerLogo{
	font-size:80px;
    color:white;
	float: left;
}

.dropmenu{
  width: 960px;
  margin: 10px;
  padding: 0;
	position : absolute ;
	bottom : 0 ;
	right : 20px;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}

.dropmenu li{
  position: relative;
  width:20%;
  float: left;
  margin-left: 50px;
  padding: 0;
  text-align: center;
}

.dropmenu li a{
  display: orange;
  margin-top:20px ;
  padding: 0 ;
  background: orange;
  color: #fff;
  font-size:20px;
  line-height: 1;


