header{
margin-top:0;
  padding: 0;
}
.logo{
	position:absolute;
	color:#ffffff;
	font-size:60px;
	margin-top:0px;
	text-align:left;
	background-color:orange;
	width:100%;
}

.navi{
position:absolute;
top:30px;
width:100%;
font-size:15px;
}

.navibox{
	float:right;
	width:150px;
	height:50px;
	text-align:center;
	margin:10px;
	font-size:20px;
}


header a:link{
	              color:#ffffff;
}
header a:visited{
	              color:#ffffff;
}
header a:hover{
	              color:#ffffff;
}
header a:active{
	              color:#ffffff;
}


