@CHARSET "UTF-8";
/*--カルーセルスライドの位置や大きさ--*/
.main_img{
	height:280px;
	width:1400px;
	margin-top:30px;
	margin-left:90px;
}

/*--キャッチフレーズの設定-------------*/
.phrase{
	margin-top:80px;
}

h1{
	text-align: center;
	border-bottom: solid 3px orange;
}

/*--検索アイコンの設定-------------------*/
h2{
	border-bottom: solid 2px orange;
	width:200px;
	margin-left:20px;
}

.theme_box{
	height:350px;
	width:1530px;
	margin-top:100px;
	margin-left:0px;
}

.theme_sub{
	float:left;
	height:160px;
	width:150px;
	border:solid 5px  orange;
	border-radius:6px;
	margin-left:300px;
	margin-top:100px;
}

.area_box{
	height:350px;
	width:1530px;
}

.area_sub{
	float:left;
	height:160px;
	width:150px;
	border:solid 5px orange;
	border-radius:6px;
	margin-left:200px;
	margin-top:100px;
	margin-bottom:100px;
}

/*---リンク先の設定---------*/
b{
	height:160px;
	width:150px;
	font-size:20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main a:link{
	              color:#ffffff;
}
 .main a:visited{
	              color:#ffffff;
}
 .main a:hover{
	              color:#ffffff;
}
 .main a:active{
	              color:#ffffff;
}

