@CHARSET "UTF-8";
.img_main{
	height:350px;
	width:1530px;
	border-bottom: solid 5px orange;
}

img{
	height:280px;
	width:378px;
}

.theme_box{

}
.sub{
	float:left;
	height:300px;
	width:200px;
	border:solid 5px orange;
	margin-left:300px;
}

