@CHARSET "UTF-8";
.img_main{
	height:350px;
	width:1530px;
	border-bottom: solid 5px orange;
}

.theme_box{
	height:350px;
	width:1530px;
}

area_box{
	height:350px;
	width:1530px;
}

.theme_sub{
	float:left;
	height:150px;
	width:150px;
	border:solid 5px  orange;
	border-radius:6px;
	margin-left:300px;
}

.area_sub{
	float:left;
	height:150px;
	width:150px;
	border:solid 5px orange;
	border-radius:6px;
	margin-left:200px;
}
