body{
    background-color:snow;
    font-family:メイリオ;
    white-space: nowrap;
}

/*リンク部分の色・装飾の設定---------*/

.divlink1 a:link { color : white;}
.divlink1 a:visited { color : white;}
.divlink1 a:hover { color : yellow;}
.divlink1 a:active { color : white;}

.divlink2 a:link { color : darkorange;}
.divlink2 a:visited { color : orange;}
.divlink2 a:hover { color : orangered;}
.divlink2 a:active { color : darkorange;}

a {text-decoration : none;}


/*ここからヘッダー設定--------------------------------------------------------------*/
.header{
    top:0px;
    right:0px;
    left:0px;
    height:60px;
    width:100%;
    font-size:24px;
    text-align:left;
    background-color:orange;
    white-space:nowrap;
}

/*ヘッダーの「choitabi」ロゴの文字列部分----------------------------------------------*/
.headerLogo{
    float:left;
    margin-left:30px;
    font-size:40px;
    line-height:64px;
    color:white;
}


.clear{
	clear:both;
}

/*ヘッダーの各メニュー項目を一まとめにしているグループ(メニュー全体の場所調整に使っています)----*/
.headerMenuBox{
	position:relative;
	top:30px;
	float:left;
    right:10px;
    left:640px;
    text-align:right;
    white-space:nowrap;
}

/*「choitabiについて」「Q&A/お問い合わせ」「ログイン」の各文字列を調整しているところ---------*/
.headerMenu{
	position:relative;
	right:20px;
    float:left;
    margin-right:30px;
    color:white;
    font-size:18px;
    line-height:10px;
    white-space:nowrap;
}


/*ヘッダー②-----------------------------------------------------------------------------------*/

.dropmenu{
    list-style-type: none;
    width: 800px;
    height: 40px;
    margin: 30px auto 300px;
    padding: 0;
    background: #8a9b0f;
    border-bottom: 5px solid #535d09;
    border-radius: 5px 5px 0 0;
}

.dropmenu li{
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}

.dropmenu li:hover > a{
    background: #6e7c0c;
    color: #eff7b1;
}

.dropmenu > li:hover > a{
    border-radius: 5px 5px 0 0;
}

.dropmenu li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
}

.dropmenu li:last-child ul{
    width: 100%
}

.dropmenu li ul li{
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    transition: .2s;
}

.dropmenu li ul li a{
    padding: 13px 15px;
    background: #6e7c0c;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

.dropmenu li:hover ul li{
    overflow: visible;
    height: 38px;
    border-top: 1px solid #7c8c0e;
    border-bottom: 1px solid #616d0b;
}

.dropmenu li:hover ul li:first-child{
    border-top: 0;
}

.dropmenu li:hover ul li:last-child{
    border-bottom: 0;
}

.dropmenu li:hover ul li:last-child a{
    border-radius: 0 0 5px 5px;
}

/*ヘッダー直下、キャッチフレーズやスクロール画面部分--------------------------------------*/


.catchPhrase{
	position:absolute;
	top:70px;
	right:100px;
	left:100px;
    height:80px;
    font-size:24px;
    color:black;
    text-align:center;
    line-height:180px;
    white-space:nowrap;
}

.scroll{
	margin-top:120px;
    background-color:beige;
    border:2px solid orange;
    width:100%;
    height:200px;
    white-space:nowrap;
}

.flame{
    width:700px;
    height:400px;
    margin-left:auto;margin-right:auto;
    margin-top:100px;
}

img{
    width:700px;
    height:400px;
}

/*メイン部分全体を囲むエリア----------------------------------------------------------*/

.mainArea{
    margin-top:50px;
    margin-bottom:20px;
    height:1100px;
    padding-top:20px;
    background-color:beige;
    width:100%;
    white-space:nowrap;
}



/*サイドバー部分---------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
}

.sidebar{
	position:absolute;
	margin-top:70px;
	margin-left:10px;
}

.outline, .menu{
    list-style:none;
}

.outline{
    width:220px;
    padding:10px;
	margin-right:20px;
}

.category{
    color: white;
    margin-top:5px;
    height:40px;
    line-height:40px;
    background-color:orange;
    cursor:pointer;
    text-align:center;
}


.menu a{
    display:block;
    height:35px;
    line-height:35px;
    color:grey;
    text-align:center;
}
/*ここまでサイドバー部分---------------------------------------------------------*/

/*ここから、右側のツアー一覧部分-------------------------------------------------------*/
.TourList{
    margin-top:10px;
	margin-left:280px;
    height:850px;
    width:75%;
    border:2px solid darkorange;
    font-size:18px;
}

.Tohoku{
    width:350px;
    height:auto;
    margin-top:100px;
    margin-left:600px;
}

.nijoujou{
    width:350px;
    height:auto;
    margin-top:100px;
    margin-left:600px;
}

.post{
    margin:50px;
}

.img{
    width:500px;
}


.tourgallery{
	margin-top:500px;
	margin-bottom:300px;
	top:100px;
	width:100%;
	height:800px;
	font-size:24px;
	font-family:メイリオ;
	text-align:center;
	background-color:#ccf3ff;

	border-top:solid 40px #00c3ff;
	border-bottom:solid 60px orange;
}

/*ここからフッター -----------------------------------------------------------------*/
.footer{
    bottom:0px;
    height:50px;
    width:100%;
    float:left;
    background-color:orange;
    color:white;
    text-align:center;
    font-size:12px;
    line-height:50px;

}

.ARRLogo{
    float:left;
    margin-left:740px;
    line-height:54px;
    color:white;
}

.footerMenuBox{
    margin-left:1200px;
    margin-right:40px;

}

.footerMenu{
    float:left;
    margin-left:40px;
    color:white;
    font-size:16px;
}

