/**author YUKA MATSUMURA
*管理画面で広く使えそうなものを、思って作りました。
ツアー一覧と、ツアーの編集・追加画面で使っています。
*/


body{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    font-family:メイリオ;
    color:dimgray;
}

h1{
    text-align:center;
}


table{
	width:auto;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    border:2px solid grey;
    border-spacing:0px;
    font-size:16px;
}

th{
    border:1px solid grey;
    padding-left:5px;
    padding-right:5px;
}

td{
    border:1px solid grey;
	padding:5px;
	padding-bottom:8px;
}


a{
	color:dimgrey;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	align:center;
}

input.submit_button{
	font-family:メイリオ;
	font-size:18px;
	color:dimgrey;
	border:0px;
	font-weight:bold;
	cursor:pointer;
	background-color:white;
}
*/

