
body{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    font-family:ÉÅÉCÉäÉI;
    color:#ff8000;
}



h1{
    text-align:center;
}

.display{
	position:relative;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top:80px;
}

.pagination{
	text-align:center;
	color:#391509;
}

table{
	margin: auto;
	text-align:center;
	border:1px solid #ff8000;
}

th{
	border:1px solid #400040;
	width:180px;
	height:30px;
	font-size:12px;
	background-color:#ff8000;
	text-align:center;
	color:white;
}

td{
	border:1px solid #800000;
	width:180px;
	height:20px;
	font-size:12px;
	text-align:center;
}