@CHARSET "UTF-8";

li{
list-style:none;
}

/* --- 全体のリンクテキスト --- */
a:link { color : white;}
a:visited { color : white;}
a:hover { color : yellow;}
a:active { color : white;}

/* --- コンテナ --- */
#container {
	width: 100%; /* ページの幅 */
	background: url(sidebar_200.gif) repeat-y left; /* ã‚µã‚¤ãƒ‰ãƒãƒ¼ã®èƒŒæ™¯ç”»åƒ */
	background-color: #ffffff; /* ãƒ¡ã‚¤ãƒ³ã‚«ãƒ©ãƒ ã®èƒŒæ™¯è‰² */
}


/* --- メインカラム --- */
#content {
width: 100%; /* メインカラムの幅 */

}
/* --- メインカラム --- */
#contents {
width: 100%; /* メインカラムの幅 */
height:1000px;
}

.tourdisplay{
	position:relative;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
}

.center{
	text-align:center;
}


.salessum {
	margin:20px;
	top:30px;
	left:30px;
	text-align:center;
	vertical-align:botom;
}

textarea {
	vertical-align:top;
}

table{
	margin: auto;
	text-align:center;
	border:1px solid lightgrey;
}

th{
	border:1px solid lightgrey;
	width:180px;
	height:20px;
	font-size:12px;
	background-color:lightgrey;
	text-align:center;
}

td{
	border:1px solid lightgrey;
	width:180px;
	height:20px;
	font-size:12px;
	text-align:center;
}

#submit {
font-family: FontAwesome;
}

#cboxOverlay {
    background: #000;
}
#cboxLoadedContent {
    background: #fff;
}
#cboxLoadedContent {
  padding: 0;
  overflow: auto;
    -moz-box-shadow: 0px 1px 10px #000000;
    -webkit-box-shadow: 0px 1px 10px #000000;
    box-shadow: 0px 1px 10px #000000;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose , #cboxTitle {
  top: -30px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible ;
}
#cboxTitle {
  color: #fff;
}
#inline-content {/* インラインを使用する時のみ */
    margin: 20px;
}
#ajax-wrap {/* ajaxを使用する時のみ */
  margin: 20px;
}

.notwide{
	width: 90px;
}

/* --- グラフエリア --- */

span{
	color:white;
}