
.main{
	width:100%
}
.login-text{
	text-align:center;
	margin:30px auto;
}
.login-text h1{
	border-bottom: 1px solid black;
	display:inline;
}
.login-box{
	width:300px;
	top:200px;
	margin:0 auto;
	border: 2px solid black;
	text-align: center;
	position:relative;
}

.login-form input{
	width:250px;
	height:50px;
	margin:0px auto;
	font-size:20px
}
.login-form h2{
	font-size:20px;
	margin 0;
}
.submit{
	margin:20px auto;
}
button{
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fa8605;/*É{É^ÉìêF*/
    color: #ffffff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

}