.container-fluid{
	width:1000px;
}

.table1{
	width:900px;
	height:100px;

}

 .table2{
 	width:540px;
	height:100px;
 }

 .table3{
 	width:565px;
	height:100px;
 }

.th{
	width:30%;
}

.button{
	margin-top:50px;
	margin-left:30px;
}

footer {
	width: 100%;
	margin-top:50px;
}