html{
    margin:0;
    padding:0;
    height:100%;
}

body{
    margin:0;
    padding:0;
    height:100%;
}

/*--ヘッダー部分------------------------*/
.header{
    top:0px;
    right:0px;
    left:0px;
    height:60px;
    width:100%;
    font-size:24px;
    text-align:left;
    background-color:orange;
}

/*ヘッダーの「choitabi」ロゴの文字列部分----------------------------------------------*/
.headerLogo{
    float:left;
    margin-left:30px;
    font-size:40px;
    line-height:64px;
    color:white;
}

/*ヘッダーの各メニュー項目を一まとめにしているグループ(メニュー全体の場所調整に使っています)----*/
.headerMenuBox{
    margin-top:12px;
    margin-left:1000px;
}

/*「choitabiについて」「Q&A/お問い合わせ」「ログイン」の各文字列を調整しているところ---------*/
.headerMenu{
    margin-right:40px;
    float:left;
    color:white;
    font-size:18px;
    line-height:72px;
}
/*--place部分↓-------------------------*/
.place{
    position:absolute;
    left:500px;
    margin-top:30px;
    height:auto;
    width:auto;
}

h1{
    font-size:30px;
    border-bottom:solid #ffa500;
}

/*--place1部分↓-------------------------*/
.place1{
    position:relative;
    height:280px;
    width:500px;
    margin-top:40px;
    border-bottom:solid #ffa500;
}

.img1{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place1title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;
}

.place1text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place1sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place1text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place2部分↓-------------------------*/
.place2{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img2{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place2title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place2text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place2sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place2text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place3部分↓-------------------------*/
.place3{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img3{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place3title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place3text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place3sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place3text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place4部分↓-------------------------*/
.place4{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img4{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place4title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place4text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place4sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place4text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place5部分↓-------------------------*/
.place5{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img5{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place5title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place5text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place5sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place5text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place6部分↓-------------------------*/
.place6{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img6{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place6title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place6text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place6sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place6text{
    position:absolute;
    top:60px;
    left:180px;
    height:200px;
    width:310px;
}

/*--フッター部分------------------------*/
footer{
    position:absolute;
    top:2020px;
}
.footer{
    height:50px;
    width:100%;
    float:left;
    background-color:orange;
    color:white;
    text-align:center;
    font-size:12px;
    line-height:50px;

}

.ARRLogo{
    float:left;
    margin-left:740px;
    line-height:54px;
    color:white;
}

.footerMenuBox{
    margin-left:1200px;
    margin-right:40px;

}

.footerMenu{
    float:left;
    margin-left:40px;
    color:white;
    font-size:16px;
}}