/*--placeïîï™Å´-------------------------*/
.place{
    position:absolute;
    left:450px;
    height:auto;
    width:auto;
}

h1{
    font-size:30px;
    border-bottom:solid #ffa500;
}

/*--place1ïîï™Å´-------------------------*/
.place1{
    position:relative;
    height:280px;
    width:500px;
    margin-top:40px;
    border-bottom:solid #ffa500;
}

.img1{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place1title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;
}

.place1text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place1sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place1text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place2ïîï™Å´-------------------------*/
.place2{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img2{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place2title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place2text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place2sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place2text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place3ïîï™Å´-------------------------*/
.place3{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img3{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place3title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place3text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place3sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place3text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place4ïîï™Å´-------------------------*/
.place4{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img4{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place4title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place4text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place4sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place4text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place5ïîï™Å´-------------------------*/
.place5{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img5{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place5title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place5text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place5sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place5text{
    position:absolute;
    top:60;
    left:180;
    height:200px;
    width:310px;
}

/*--place6ïîï™Å´-------------------------*/
.place6{
    position:relative;
    height:280px;
    width:500px;
    border-bottom:solid #ffa500;
    margin-top:20px;
}

.img6{
    position:absolute;
    top:10px;
    left:0;
    height:140px;
    width:160px;
}

.place6title{
    position:absolute;
    top:10px;
    left:180px;
    height:20px;
    width:310px;
    border-bottom:solid #ffa500;
    text-align:right;}

.place6text{
    position:absolute;
    top:50px;
    left:180px;
    height:20px;
    width:310px;
    text-align:right;}

.place6sadd{
    position:absolute;
    top:170px;
    left:0;
    height:80px;
    width:160px;
    border:1px solid #ffa500;
}

.place6text{
    position:absolute;
    top:60px;
    left:180px;
    height:200px;
    width:310px;
}