 /*Q&A部分----------------*/
 .main{
    margin-top:90px;
    margin-left:550px;
    height:270px;
    width:440px;

}

h1{
    font-size:50px;
    font-weight:bold;
    text-align:center;
}

/*フッター部分-------------*/
footer{
	margin-top:290px;
}