 body{
        padding-top:0;
 }

 /*Q&A部分----------------*/
 .main{
    position:absolute;
	text-align:center;
	top:200px;
    width:100%;
    color:black;
}

h1{
    font-size:50px;
    font-weight:bold;
    text-align:center;
}

/*フッター部分-------------*/
footer{
	margin-top:700px;
}