#wrapper{
    width:100%;
    margin: 0 auto;
    text-aligan:center;
}


table, table th,table td{
    background-color: aliceblue;
    border: solid 3px white;
    text-align:center;
    padding:0px;
    font-size:20px;
    margin:10px auto 10px auto;

}

#actmainphoto{
	width:100%;
	margin:auto;
	text-align:center;

}
#side{
	float:left;
	width:30%;
}

#main{
	float:right;
	margin:auto;
	text-align:center;
	width:70%;
}