@CHARSET "UTF-8";

/*サイドバー--------------------------*/
.sidebar{
    float:left;
    margin-top:30px;
	margin-right:40px;
    padding-top:20px;
    padding-left:30px;
    height:400px;
    width:200px;
}

.center {
	width: 1500px;
	margin: 0 auto;
	text-align: center;
}

#contents{
    position:absolute;
    left:20%;
    margin-top:5%;
    height:1000px;
    width:1170px;
}

div {
	text-align: center;
	vertical-align: center;
}

.display_list {
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fff;
	padding-bottom: 10px;
	margin-bottom:100px;
	float: left;
}

.subtitle {
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #fff;
	background-color: orange;
	border-left: 5px solid #ff8040;
	border-top: 1px solid #fff;
	min-width:285px;
}

.template {
	float: left;
	width: 350px;
	height: 400px;
	margin: 20px 5px 10px 0;
	background-color: #fff;
	text-align: center;
	border: 1px solid white;
}

.tour_img {
	height:300px;
	width: 300px;
	margin: 10px;
}

.tour_name {
	color: #ff8040;
	font-weight: bold;
	padding-top: 15px;
	font-size: 20px;
}

.tour_price {
	color: red;
	font-size: 17px;
	font-align: center;
}

.footer {
	position: absolute;
	display: block;
	margin-top: 1450px;
	width: 100%;
}